#main-container {
  max-width: 900px;
  margin: 0 auto;
}

.io-container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}

.inputoutput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputoutput img {
  max-width: 100%;
  margin-bottom: 8px;
}

.control {
  margin-bottom: 16px;
}

.image {
  max-width: 100%;
}
